<div class="container">
  <h1>STUPID COACHING</h1>
  <div class="form">
    <form action="/answer" class="form">
      <input type="text" name="questions" class="questions">
      <input type="submit" value="Ask" class="submit">
    </form>
  </form>
</div>